

{% extends 'kakeibo_tuto/base.html' %}
{% load bootstrap %}
{% block content %}


  <form method="post">
      <ol class="breadcrumb">
       <li class="breadcrumb-item">
         <a href="{% url 'kakeibo_tuto:Suitoh_list' %}">TOP</a>
       </li>
       <li class="breadcrumb-item active">追加</li>
     </ol>
      {{ form|bootstrap }}
       <button class="btn btn-primary">登録</button>
      {% csrf_token %}


  </form>
 <a class="btn" href="{% url 'kakeibo_tuto:Suitoh_list' %}" role="button">戻る</a>
{% endblock %}