
{% extends 'kakeibo_tuto/base.html' %}
{% block content %}
 <div class="content-wrapper">
   <div class="container-fluid">
     <ol class="breadcrumb">
       <li class="breadcrumb-item">
         <a href="{% url 'kakeibo_tuto:Suitoh_list' %}">TOP</a>
       </li>
       <li class="breadcrumb-item active">一覧表示</li>
     </ol>

     <div class="card mb-3">
       <div class="card-header">
         <h3><b>出納表</b></h3></div>
       <div class="card-body">

         <div class="table-responsive">
         <table id=Suitoh width="100%" class="table table-striped table-bordered">

             <thead>
               <tr>
                 <th class="text-center">日付</th>
                 <th class="text-center">カテゴリ</th>
                 <th class="text-center">名目</th>
                 <th class="text-center">金額</th>
                 <th class="text-center">重要度</th>
                 <th class="text-center">修正</th>
                 <th class="text-center">削除</th>
               </tr>
             </thead>

             <tbody>
               {% for item in object_list %}
                 <tr class="odd gradeX text-center">
                   <td class="text-center" width="100">{{ item.data}}</td>
                   <td class="text-center" width="100">{{ item.cat}}</td>
                   <td class="text-center" width="140">{{ item.meimoku}}</td>
                   <td class="text-center" width="140">{{ item.out_cost}}</td>
                    <td class="text-center" width="140">{{ item.rank}}</td>
                   <td class="text-center" width="140"><a class="btn btn-primary"
                        href="{% url 'kakeibo_tuto:Suitoh_update' item.pk %}">修正</a></td>
                   <td class="text-center" width="140"><a class="btn btn-danger"
                        href="{% url 'kakeibo_tuto:Suitoh_delete' item.pk %}">削除</a></td>


                 </tr>
             {% endfor %}
             </tbody>

           </table>


       </div>
      </div>

      </div>

          <div class="card mb-3">
       <div class="card-header">
         <h3><b>機能</b></h3></div>
       <div class="card-body">
           <tr class="odd gradeX text-center">
           <td class="text-center" width="140"><a class="btn btn-primary"
                        href="{% url 'kakeibo_tuto:Sumbycat' %}">種類ごとの合計</a></td>
           <td class="text-center" width="140"><a class="btn btn-primary"
                        href="{% url 'kakeibo_tuto:add' %}">新規登録</a></td>
           <td class="text-center" width="140"><a class="btn btn-primary"
                        href="{% url 'kakeibo_tuto:randcat' %}">ランダムキャット</a></td>

           </tr>
       </div>
       </div>

      </div>

      </div>

   </div>
  </div>

{% endblock content %}